<!DOCTYPE html>
<center style="margin-top: 30px">
    <table class="col-10 table table-striped" style="max-width: 600px">
        <thead>
        <tr>
            <th scope="col">System ID</th>
            <th scope="col">System Name</th>
            <th scope="col">Infra Status</th>
            <th scope="col">Check Status</th>
        </tr>
        </thead>
        <tbody id="content">
	<H1>Level 1</H1>
        {% for items in db1 %}
            <tr>
                <td>
                    {{ items.system_id }}
                </td>
                <td>
		    {% if items.system_status == 3 %}
                        {{ items.system_name }}
                    {% else %}
                        <a href="{% url 'inputpage' %}?token={{ items.pk }}" >{{ items.system_name }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if items.system_status == 0 %}
                        <button type="button" class="button button_gray" disabled></button>
                    {% elif items.system_status == 1 %}
                        <button type="button" class="button button_yellow" disabled></button>
                    {% else %}
                        <button type="button" class="button button_green" disabled></button>
                    {% endif %}
                </td>
                <td>
                    {% if items.system_status == 3 %}
                        <button type="button" class="button button_green" disabled></button>
                    {% elif items.system_status == 2 %}
                        <button type="button" class="button button_yellow" disabled></button>
                    {% else %}
                        <button type="button" class="button button_gray" disabled></button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</center>
