<!DOCTYPE html>
<html lang="zh-hant">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="10">
    <title>BRS Status</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, target-densitydpi=device-dpi"> <!--  Mobile Fit-->
</head>

<style>
    td, th {
        text-align: left;
    }
    .button_green {border-radius: 50%;
        background-color: #02F78E;
        padding: 10px 10px;
    }
    .button_gray {border-radius: 50%;
        background-color: #BEBEBE;
        padding: 10px 10px;
    }
    .button_yellow {border-radius: 50%;
        background-color: #FFDC35;
        padding: 10px 10px;
    }
</style>

<body>
{#NAV--START#}
<nav class="navbar navbar-light" style="background-color: #D2E9FF;">
    <ul class="nav">
	<li class="nav-item">
            <a class="nav-link " href="{% url 'brsstatus' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'reportpage' %}">Report</a>
        </li>
    </ul>
</nav>
{#NAV--END#}
{% load depreplace %}
<center style="margin-top: 30px">
    <table class="col-10 table table-striped" style="max-width: 600px">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">系統名稱</th>
	    <th scope="col">相依系統等待</th>
            <th scope="col">系統狀態</th>
            <th scope="col">驗證狀態</th>
        </tr>
        </thead>
        <tbody id="content">
        {% for items in db %}
            <tr>
                <td>
                    {{ items.system_id }}
                </td>
                <td>
	            {% if items.system_status == 4 %}
                        {{ items.system_name }}
		    {% elif items.system_status == 2 and items.depend_name %}
			{{ items.system_name }}
                    {% else %}
                        <a href="{% url 'inputpage' %}?token={{ items.pk }}" >{{ items.system_name }}</a>
                    {% endif %}
                </td>
		<!-- <td style="word-wrap:break-word;"> -->
		<td style="max-width:200px;word-wrap:break-word;">
		    {% if items.depend_name %}
		        {{ items.depend_name|depreplace }}
		    {% else %}
			-
		    {% endif %}
		</td>
                <td>
                    {% if items.system_status == 0 %}
                        <button type="button" class="button button_gray" disabled></button>
                    {% elif items.system_status == 1 %}
                        <button type="button" class="button button_yellow" disabled></button>
                    {% else %}
                        <button type="button" class="button button_green" disabled></button>
                    {% endif %}
                </td>
                <td>
                    {% if items.system_status == 4 %}
                        <button type="button" class="button button_green" disabled></button>
                    {% elif items.system_status == 3 %}
                        <button type="button" class="button button_yellow" disabled></button>
                    {% else %}
                        <button type="button" class="button button_gray" disabled></button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</center>
</body>
<!--
<script>
     var clock = setInterval(pageflash, 5000);
        function pageflash() {
            $.ajax({
                url: '{% url 'brsstatus' %}',
                method: "GET",
                dataType: 'json',
                success: function (response) {
                    $('#content').html(response.data);
                }
            });
        }

</script>
-->
</html>
