<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ db.system_name }}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--  Mobile fit -->  

</head>
<body>

<nav class="navbar navbar-light" style="background-color: #D2E9FF;">
    <ul class="nav">
	<li class="nav-item">
            <a class="nav-link " href="{% url 'brsstatus' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'reportpage' %}">Report</a>
        </li>
    </ul>
</nav>

<center style="margin-top: 40px">
    <div class="input-group col-xl-5">
        <h4><span class="label label-default">{{ db.system_name }}</span></h4>
	
		<form class="form-row col-xl-15" action="{% url 'update' %}" method="post">
                <div>
                    <input type="text" class="form-control col-xl-15" name="username" placeholder="Please Input Your Name"
                        aria-label="Input Your Name" aria-describedby="basic-addon2" required="required"
                        onkeyup="this.value=this.value.replace(/\s+/g,'')" style="margin-top: 10px">
                </div>
                <div>
                    <input  type="datetime-local" class="form-control col-xl-15" name="handtime"
                        aria-describedby="basic-addon2" style="margin-top: 10px">
                    <input type="hidden" name="system_id" value={{ db.system_id }}>
                </div>
                <div class="input-group-append " style="margin-top: 10px">
		    {% if db.system_status <= 1 %}
                        <button class="btn btn-info" name="intype" value=2 type="submit" href="{% url 'inputpage' %}" >系統開啟完成</button>
                    {% elif db.system_status == 2 %}
                        <button class="btn btn-info" name="intype" value=3 type="submit" href="{% url 'inputpage' %}" >AP驗證完成</button>
                    {% else %}
                        <button class="btn btn-info" name="intype" value=4 type="submit" href="{% url 'inputpage' %}" >業管驗證完成</button>
                    {% endif %}&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                </div>
            </form>
    </div>
</center>
<center style="margin-top: 20px">
</center>
</body>
</html>
