<!DOCTYPE html>
<html lang="zh-hant">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, target-densitydpi=high-dpi"> <!--  Mobile Fit --> 

</head>

<style>
    td, th {
        text-align: left;
        font-size: 12px ;
    }
    center{
       	background-color: #ffffff;
    }
}
</style>

<body style="background-color: #D2E9FF; ">
<nav class="navbar navbar-light" style="background-color: #D2E9FF; " >
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link " href="{% url 'brsstatus' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'reportpage' %}">Report</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'exportpage' %}">EXCEL匯出</a>
        </li>
    </ul>
</nav>
<center >
	<!--<table class="col-10 table table-striped" style="max-width: 1200px">-->
    <table class="table table-striped" style="background-color: #ffffff; ">
	<thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">系統名稱</th>
            <th scope="col">相依系統</th>
            <th scope="col">SP</th>
	    <th scope="col">系統開啟時間</th>
            <th scope="col">系統啟動完成時間</th>
            <th scope="col">驗證AP</th>
            <th scope="col">AP驗證完成時間</th>
            <th scope="col">驗證業管</th>
            <th scope="col">驗證完成時間</th>
            <th scope="col">系統RTO</th>
        </tr>
        </thead>
        <tbody id="content">
        {% for items in db %}
            <tr>
                <th scope="row">{{ items.system_id }}</th>
                <th scope="row">{{ items.system_name }}</th>
                <td  >
                    {% if items.depend_name is null %}
                        -
                    {% else %}
                        {{ items.depend_name }}
                    {% endif %}
                </td>
                <td  >
                    {% if items.status_infra_user is null %}
                        -
                    {% else %}
                        {{ items.status_infra_user }}
                    {% endif %}
                </td>
                <td >
                    {% if items.system_status == 0 %}
                        -
                    {% else %}
                        {{ items.status_system_start_time|date:"Y-m-d H:i:s " }}
                    {% endif %}
                </td>
                <td >
                    {% if items.system_status <= 1 %}
                        -
                    {% else %}
                        {{ items.status_system_end_time|date:"Y-m-d H:i:s " }}
                    {% endif %}
                </td>
                <td >
                    {% if items.status_ap_user is null %}
                        -
                    {% else %}
                        {{ items.status_ap_user }}
                    {% endif %}
                </td>
                <td >
                    {% if items.system_status <= 2 %}
                        -
                    {% else %}
                        {{ items.status_ap_end_time|date:"Y-m-d H:i:s " }}
                    {% endif %}
                </td>
                <td >
                    {% if items.status_ba_user is null %}
                        -
                    {% else %}
                        {{ items.status_ba_user }}
                    {% endif %}
                </td>
                <td >
                    {% if items.system_status <= 3 %}
                        -
                    {% else %}
                        {{ items.status_check_end_time|date:"Y-m-d H:i:s " }}
                    {% endif %}
                </td>
                <td >
                    {% if items.system_rto is null %}
                        -
                    {% else %}
                        {{ items.system_rto }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</center>

</body>

</html>
